## Copyright (C)2022-2026 by John A Kline (john@johnkline.com)
## Distributed under the terms of the GNU Public License (GPLv3)
##
## Staggered dome fragment, slot 5 -- see dome-svg-frag.inc for the body
## and dome-svg.txt.tmpl (slot 0) for the story.  Empty when this slot's
## offset falls beyond the archive interval.
#encoding UTF-8
#set global $frag_k = 5
#include "dome-svg-frag.inc"
